<app-navigation-bar></app-navigation-bar>
<main class="flex flex-col h-full">
  <div class="flex bg-gray-600">
    <button
      class="px-4 py-2 font-semibold"
      [class]="
        activeTab() === 'notes'
          ? 'bg-gray-400 text-gray-900'
          : 'bg-gray-700 text-white cursor-pointer hover:bg-gray-500'
      "
      (click)="activeTab.set('notes')"
    >
      Notes
    </button>
    <button
      class="px-4 py-2 font-semibold"
      [class]="
        activeTab() === 'sources'
          ? 'bg-gray-400 text-gray-900'
          : 'bg-gray-700 text-white cursor-pointer hover:bg-gray-500'
      "
      (click)="activeTab.set('sources')"
    >
      Sources
    </button>
  </div>
  <div class="flex-1 p-4 bg-gray-400 overflow-y-auto">
    @if (activeTab() === 'notes') {
      @if (notes() === null) {
        <app-loading-spinner></app-loading-spinner>
      } @else if (notes()?.length === 0) {
        <p>Add some notes!</p>
      } @else {
        <ul class="space-y-2">
          @for (note of notes(); track note.id) {
            <li class="bg-white rounded-lg p-3 shadow-sm">
              <p class="text-xs">{{ note.name }}</p>
              <p>{{ note.content }}</p>
            </li>
          }
        </ul>
      }
    }
    @if (activeTab() === 'sources') {
      @if (sources() === null) {
        <app-loading-spinner></app-loading-spinner>
      } @else if (sources()?.length === 0) {
        <p>Add some sources!</p>
      } @else {
        <ul class="space-y-2">
          @for (source of sources(); track source.id) {
            <li class="bg-white rounded-lg p-3 shadow-sm">
              <p>{{ source.title }}</p>
            </li>
          }
        </ul>
      }
    }
  </div>
</main>
